.page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 90%;
  height: auto;
  padding: 10% !important; }

.badge {
  background: #1c368a !important; }

.logoFooterImg {
  max-width: 200px;
  margin: 5%; }

.logoNav {
  width: 50px; }

.navbar-brand {
  background: #3551ad;
  width: 70px;
  padding: 19px 10px !important; }

.navbar-brand:hover {
  background: #3551ad !important;
  width: 70px; }

.navbar-nav > li > a {
  padding-bottom: 0px !important; }

.navbar-right {
  padding-right: 20px; }

.imgProfile {
  width: 20px;
  height: 20px;
  border-radius: 50%; }

.navbar-default {
  background: #ffffff !important; }

.navbar {
  margin-bottom: 0px !important; }

#custom-search-input {
  padding: 3px;
  border-radius: 33px;
  background-color: #f5f5f5;
  width: 200px;
  height: 30px; }

#custom-search-input input {
  border: 0;
  box-shadow: none;
  height: 25px;
  line-height: none;
  background-color: #f5f5f5; }

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #ffffff;
  padding: 0px 4px 0px 11px; }

#custom-search-input button:hover {
  border: 0;
  box-shadow: none; }

#custom-search-input .glyphicon-search {
  font-size: 12px;
  line-height: 0px; }

.input-group-btn {
  border-radius: 33px;
  background: #ff4081; }

.searchBar {
  padding-top: 10px; }

.glyphicon {
  top: 0px;
  left: -3px; }

footer {
  background: #333333;
  height: 168px; }
  footer .copy {
    color: #ffffff; }
  footer .redes {
    margin: 5%;
    text-align: right; }
    footer .redes .fa {
      color: #ededed;
      font-size: 2em;
      padding-bottom: 2%;
      padding-left: 2%;
      cursor: pointer; }
    footer .redes .fa:hover {
      color: #ff4081; }
  footer .logoStores {
    text-align: right;
    margin-left: 33px; }
    footer .logoStores .logoGoogle, footer .logoStores .logoAppstore {
      max-width: 130px; }
    footer .logoStores .logoCode {
      max-width: 30px; }

.page-content {
  text-align: left; }
  .page-content .hrRosa {
    width: 20%;
    text-align: left;
    border-top: 3px solid #ff4081 !important;
    display: inline-block !important;
    margin-top: 0px; }
  .page-content .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background: #ff4081; }
  .page-content .fa-times {
    color: #ffffff; }

.package-table th {
  border-top: 0px !important;
  height: 80px;
  background: #ededed; }

.table > thead > tr > th {
  vertical-align: middle !important;
  border-bottom: none !important; }

.package-table tbody tr:nth-child(odd) {
  background: #ffffff; }

.package-table td {
  border-top: 0px !important;
  height: 116px;
  padding-top: 43px !important; }

.buttonClose {
  text-align: center; }

.package-table tbody tr:nth-child(even) {
  background: #f5f5f5; }

p {
  padding-bottom: 50px; }

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%; }

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 70px;
  background: #3551ad;
  position: fixed;
  height: 100%;
  z-index: 5;
  transition: all .4s ease 0s; }

.sidebar-nav {
  display: block;
  float: left;
  width: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2em; }

#wrapper.active {
  padding-left: 150px; }

#wrapper.active #sidebar-wrapper {
  left: 150px;
  top: 50px; }

#page-content-wrapper {
  width: 100%; }

#sidebar_menu li a, .sidebar-nav li a {
  display: block;
  float: left;
  text-decoration: none;
  width: 70px;
  text-align: center;
  background: #3551ad;
  border-bottom: 1px solid #1c368a;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s; }

.sidebar-nav li {
  line-height: 70px; }

.sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none; }

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.cuadro {
  width: 5px;
  height: auto;
  background: #ff4081;
  float: left; }

/*# sourceMappingURL=main.css.map */
