$ifix-blue:  #3551ad;
$ifix-blue1: #1c368a;
$ifix-pink:  #ff4081;
$ifix-white: #ffffff;
$ifix-gray:  #666666;
$ifix-gray1: #333333;
$ifix-gray2: #ededed;
$ifix-gray3: #f5f5f5;
$ifix-gray4: #555555;
$ifix-gray5: #bdbdbd;





.page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 90%;
    height: auto;
    padding:10% !important;
}




//NAV
.badge{
    background: $ifix-blue1 !important
}


.logoFooterImg{
    max-width: 200px;
    margin: 5%;
}
.logoNav{
    width: 50px;
}
.navbar-brand{
    background: $ifix-blue;
    width: 70px;
    padding: 19px 10px !important
}
.navbar-brand:hover{
    background: $ifix-blue !important;
    width: 70px;
}

.navbar-nav>li>a{
    
    padding-bottom:  0px !important;
    
}
.navbar-right{
padding-right: 20px;
}

.imgProfile{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }


.navbar-default{
    background: $ifix-white !important;
}
.navbar{
    margin-bottom: 0px !important
}

#custom-search-input{
    padding: 3px;
    border-radius: 33px;
    background-color:$ifix-gray3;
    width: 200px;
    height: 30px
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 25px;
    line-height: none;
    background-color:$ifix-gray3;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: $ifix-white;
    padding: 0px 4px 0px 11px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
    font-size: 12px;
    line-height: 0px;
}
.input-group-btn{
    border-radius: 33px;
    background: $ifix-pink;
}

.searchBar{
    padding-top: 10px
}

.glyphicon{
    top:0px;
    left: -3px;
}

//Footer


footer{
    background: $ifix-gray1;
    height: 168px;

     .copy {
    color:$ifix-white;
  }
  .redes{
      margin: 5%;
      text-align: right;
        .fa{
            color:$ifix-gray2;
            font-size: 2em  ;
            padding-bottom: 2%;
            padding-left: 2%;
            cursor: pointer;
        }

         .fa:hover{
            color:$ifix-pink;
        }
  }
.logoStores{
    text-align: right;
    margin-left: 33px;
    .logoGoogle, .logoAppstore{
      max-width: 130px;
     
  }
  .logoCode{
      max-width: 30px;
  }
  
}
  

}


//Content

.page-content{
text-align: left;
    .hrRosa{
    width: 20%;
    text-align: left;
    border-top:3px solid $ifix-pink !important;
    display:inline-block !important;
    margin-top: 0px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        background: $ifix-pink
    }
    .fa-times{
        color: $ifix-white
    }
}

.package-table th{
    border-top:0px !important; 
    height: 80px;
    background: $ifix-gray2;
    }

.table>thead>tr>th{
    vertical-align: middle !important;
    border-bottom:none !important;

}

.package-table tbody tr:nth-child(odd){
    background:$ifix-white;
    }
.package-table td{
    border-top:0px !important; 
    height: 116px;
    padding-top: 43px !important;
    }
.buttonClose{
    text-align: center
}
.package-table tbody tr:nth-child(even){
    background:$ifix-gray3; 
    }

p{
    padding-bottom: 50px;
}

//SideNAV

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 70px;
    background: $ifix-blue;
    position: fixed;
    height: 100%;
    z-index: 5;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    
}

#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    top:50px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 70px;
    text-align: center;
    background: $ifix-blue;
    border-bottom: 1px solid $ifix-blue1;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}


.sidebar-nav li {
  line-height: 70px;
  
}

.sidebar-nav li a {
  color: $ifix-white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.cuadro{
    width: 5px;
    height: auto;
    background:$ifix-pink;
    float: left;
}